* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);

  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  gap: 35px;
}

.nav a {
  color: #fff;
  font-size: 16px;
}
.btn--primary {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background: #0f2942;
  color: #fff;
  padding: 16px 34px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.btn--secondary {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #111;
}

.header {
  font-family: "Poppins", sans-serif;
  color: #052a44;
  padding: 50px 0;
}

.header__inner {
  background: #082845;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.logo {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.header .logo {
  color: #fff;
}
.mobile-logo {
  display: none;
}
.header-buttons {
  display: flex;
  gap: 25px;
}

.header__login {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}

.header__btn {
  display: inline-block;
  padding: 18px 40px;
  background: #fff;
  border-radius: 12px;
  font-weight: 600;
}
.btn-line {
  display: none;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  color: white;
  text-decoration: none;
}

.trial {
  text-decoration: none;
  color: black;
  background: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
}

.burger {
  display: none;
  border: none;
  background: none;
  color: #3a4c66;
  font-size: 30px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -30px);

  width: 100%;
  max-width: 1200px;

  background: white;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: 0.35s;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.mobile-menu a {
  color: #3a4c66;
  text-decoration: none;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.mobile-btn {
  background: #052a44;
  color: white !important;
  width: 90%;
  border-radius: 8px;
  margin-top: 10px;
}

@media (max-width: 860px) {
  .header__inner {
    background-color: #fff;
  }
  .mobile-logo {
    display: block;
  }

  .desc-logo {
    display: none;
  }
  .nav {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .burger {
    display: block;
  }
}

.hero {
  padding: 70px 0;
  margin-bottom: 80px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hero__content {
  max-width: 470px;
}

.hero__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero__title span {
  color: #e8db84;
}

.hero__text {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 35px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}

.hero__play {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #fff;
  color: #052a44;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

.users {
  display: flex;
  align-items: center;
  gap: 15px;
}

.users__avatars {
  display: flex;
}

.users__avatars img {
  object-fit: cover;
  border-radius: 50%;
  margin-left: -12px;
}

.users__avatars img:first-child {
  margin-left: 0;
}

.users > .users__avatars img {
  width: 52px;
  height: 52px;
}

.users__text {
  font-size: 15px;
  font-weight: 500;
}

.hero__image {
  position: relative;
  display: flex;
  align-items: center;
}

.hero__item {
  width: 470px;
  height: 520px;
  background: #e8db84;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.hero__cards {
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 14px;

  z-index: 5;
}

.hero__card {
  width: 143px;
  height: 106px;

  background: #fff;
  border-radius: 16px;
  padding: 12px 14px;

  box-sizing: border-box;

  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
}

.hero__card-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  color: #052a44;

  text-align: center;

  margin-bottom: 6px;
}

.hero__card-text {
  display: block;

  font-size: 8px;
  line-height: 10px;

  color: #777;

  text-align: center;

  margin-bottom: auto;
}

.hero__card-btn {
  width: 28px;
  height: 28px;

  margin: 8px auto 0;

  border: none;
  border-radius: 50%;

  background: #052a44;
  color: #fff;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  line-height: 1;
}

.hero__card h3 {
  margin: 0;

  text-align: center;

  font-size: 22px;
  font-weight: 700;
  line-height: 22px;

  color: #052a44;
}

.hero__card span {
  display: block;

  text-align: center;

  font-size: 12px;
  line-height: 13px;

  color: #777;

  margin-top: 6px;
  margin-bottom: auto;
}

.hero__card .users__avatars {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.hero__card .users__avatars img {
  width: 22px;
  height: 22px;

  object-fit: cover;

  margin-left: -6px;
}

.hero__card .users__avatars img:first-child {
  margin-left: 0;
}

@media (max-width: 992px) {
  .hero {
    padding: 50px 0;
  }

  .hero__inner {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__buttons {
    justify-content: center;
  }

  .users {
    justify-content: center;
  }

  .hero__cards {
    position: static;
    transform: none;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
  }

  .hero__card {
    width: 220px;
  }

  .hero__item {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 34px;
  }

  .hero__text {
    font-size: 16px;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 15px;
  }

  .hero__image {
    flex-direction: column;
  }

  .hero__cards {
    position: static;
    transform: none;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
  }

  .hero__card {
    width: 220px;
  }

  .hero__item {
    width: 100%;
    max-width: 360px;
    height: auto;
  }

  .hero__btn--primary {
    padding: 12px 18px;
    font-size: 12px;
  }

  .hero__btn--secondary {
    gap: 8px;
    font-size: 12px;
  }

  .hero__play {
    width: 28px;
    height: 28px;
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .users {
    display: none;
  }
  .hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
  }

  .hero__btn--primary {
    padding: 12px 18px;
    font-size: 12px;
  }

  .hero__btn--secondary {
    gap: 8px;
    font-size: 12px;
  }

  .hero__play {
    width: 28px;
    height: 28px;
    font-size: 11px;
  }
}

.about {
  margin-bottom: 80px;
}
.about .container {
  position: relative;
}
.about__circle {
  position: absolute;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 6px solid #052a44;
  background-color: transparent;
  left: 0;
  bottom: 15px;
}
.about__inner {
  padding: 0 40px;
}

.about__content {
  text-align: center;
  margin-bottom: 40px;
}

.about__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
}

.about__items {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}

.about__item {
  position: relative;
  max-width: 371px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 70px 32px;
  text-align: center;
  box-shadow: 2px 4px 38px rgba(0, 0, 0, 0.08);
}

.about__item--title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}

.about__item--text {
  font-weight: 400;
  font-size: 16px;
}

.about__item--icon {
  position: absolute;
  height: 71px;
  width: 71px;
  border-radius: 50%;
  background-color: #052a44;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
}

.about__item--icon img {
  width: 23px;
  height: 32px;
}

.about__btn {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 860px) {
  .about__inner {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .about__items {
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
  .about__circle {
    display: none;
  }
}

.services {
  margin-bottom: 80px;
}

.services__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8%;
  background-color: #e8db84;
  border-radius: 29px;
  padding: 40px clamp(0.81rem, calc(-0.38rem + 5.98vw), 5rem) 84px
    clamp(0.81rem, calc(-0.67rem + 7.41vw), 6rem);
  box-sizing: border-box;
  overflow: hidden;
}

.services__wrapper {
  position: relative;
  width: max-content;
  z-index: 1;
  min-width: 462px;
}
.services__circle {
  position: absolute;
  width: 197px;
  height: 197px;
  left: -37px;
  bottom: -44px;
  background-color: #052a44;
  border-radius: 50%;
  z-index: -1;
}
.services__card--header {
  padding: 8px 16px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.services__card--header span {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.services__card--header span:nth-child(1) {
  background-color: #ee6767;
}
.services__card--header span:nth-child(2) {
  background-color: #f6c566;
}
.services__card--header span:nth-child(3) {
  background-color: #5beb7b;
}
.services__card {
  padding: 20px 32px 24px;
  background: rgba(244, 244, 244, 0.6);
  backdrop-filter: blur(30px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.services__images {
  display: flex;
  gap: 7%;
  row-gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__images img:nth-child(1) {
  width: 100%;
}
.services__images img:nth-child(2) {
  width: 33%;
}
.services__images img:nth-child(3) {
  width: 60%;
}
.services__images img {
  border-radius: 10px;
}

.yellow-box + .yellow-box .services__inner {
  flex-direction: row-reverse;
}

.services__title {
  font-weight: 600;
  font-size: clamp(1.75rem, calc(1.5rem + 1.25vw), 2.63rem);
}

.services__text {
  padding-bottom: 16px;
}
.services__text:nth-child(3) {
  padding-bottom: 24px;
}

.briefcase__icon {
  background-color: #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.services__features--item {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-bottom: 20px;
}

.services__features--item:nth-child(2) {
  padding-bottom: 32px;
}

@media (max-width: 1015px) {
  .stories {
    display: none;
  }
  .services__inner {
    flex-direction: column-reverse;
  }
  .services__wrapper {
    min-width: auto;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .services__title {
    text-align: center;
    font-weight: 400;
    color: #183b56;
  }
}

.reviews {
  padding-bottom: 80px;
}
.reviews .container {
  overflow: hidden;
}
.reviews__slider {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}

.reviews__user {
  display: flex;
  justify-content: center;
}

.reviews__user--text {
  padding-left: 24px;
  padding-top: 10px;
}

.reviews__user--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.reviews__user--desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.reviews__item {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px 32px;
  text-align: center;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.08);
}

.reviews__item--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
}
.reviews__slider {
  overflow: visible;
}
.slider--btn {
  position: relative;

  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: #052a44;
}
.slider-btns {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.slider--btn::after {
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5.20825L21 12.4999L14 19.7916M21 12.4999L3 12.4999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
}

.reviews-prev {
  transform: rotate(180deg);
}

.slider--btn.swiper-button-disabled {
  background-color: #fff;
}

.slider--btn.swiper-button-disabled::after {
  transform: rotate(180deg) translate(50%, 61%);
  content: url('data:image/svg+xml,<svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 15.5833L1 8.29159L8 0.999919M1 8.29159L19 8.29159" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
